# Dependencias
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Turborepo
.turbo/

# Env files (nunca comitear secretos/credenciales)
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Prisma
apps/api/prisma/migrations/**/migration.sql.bak

# Editor / SO
.DS_Store
.vscode/
.idea/

# Testing
coverage/
